<div id="part">
	<h1>Show Note</h1>
	<%= link_to("Back to List", {:action => 'index'}) + 
	" " + "||| " + link_to("Delete This Note", {:action => 'delete', :id => @note_pad.id})%>

	<div class="note_pade show">

	<%= form_for(:note_pad,:url => {:action => 'update', :id => @note_pad.id}) do |f| %>

		<br>
		<%= f.text_field :title, :class => "textstyle", :value => @note_pad.title %><br>
		<%= f.text_area(:content, :value => @note_pad.content) %>

		<div class="form-buttons">
			<%= submit_tag("Update Note") %>
		</div>

		<% end %>
	</div>
</div>